{% extends "hbase.html" %}
{% block content %} 
 
<div id="name"> 
    <h2 style="font-style:normal;">Health Remedies</h2>
    <h4> First aid, survival kits  and other health stuff...</h4>
</div>
<div id="method">
    <ol id ="hresults_lst">
        <li> <strong>Using the Search Bar:</strong>
            <ul style="font-style: italic;">
                <li>
                Remedy#: you can search by recipe number e.g. 5 or 12. Sometimes this may show a few unrelated results 
                </li>
                <li>
                Keyword: You can search by keyword e.g. "cuts", "oils" or "first aid"
                </li>
                <li>
                You can also just leave the search bar blank to display everything
                </li>
            </ul>    
        </li>
        <li> <strong>Sources of info:</strong>
            <ul style="font-style: italic;">
                <li>
                This health list was put together by <a href='#' style="color:blue; font-style:normal">Sally Zimmermmann</a> from her expererience and a variety of sources 
                </li>
                <li>
                Stay healthy
                </li>
            </ul>
        </li>
        
    </ol>
     
 </div>
 
{% endblock %}